.button[class] {
  margin-left: 19px;
  width: 180px;
  display: block;
  border-color: white;
  & * {
    color: white;
  }
  &:hover,
  &.Mui-focusVisible {
    background-color: white;
    & * {
      color: #3f51b5;
      font-weight: bold;
    }
  }
}
