.table {
  min-width: 20em;
  width: 40em;
  max-width: 60em;
}

.textForm {
  padding: 2em 2em 0;
}

.button {
  padding: 2em;
  left: 50%;
  margin-right: -50%;
}

.backDiv {
  width: 100%;
  padding: 2em 2em 0;
}

.darkSubheader {
  height: 1rem;
  background-color: #3f50b5;
  span {
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
  }
}

.lightSubheader {
  height: 1rem;
  background-color: #b2b9e1;
  span {
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
  }
}

.formControl {
  span {
    font-size: 0.9rem;
  }
}
