.table {
  min-width: 20em;
  width: 40em;
  max-width: 60em;
}

.textForm {
  padding: 2em 2em 0;
}

.button {
  padding: 2em;
  left: 50%;
  margin-right: -50%;
}

.backDiv {
  width: 100%;
  padding: 2em 2em 0;
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: #11181f;
    color: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  .card {
    background-color: #fafafa;
    color: #11181f;
  }
}
