.table {
  min-width: 650;
}

.darkHovorRow {
  cursor: pointer;
  &:hover {
    background-color: #616161;
  }
}

.lightHovorRow {
  cursor: pointer;
  &:hover {
    background-color: #fafafa;
  }
}
