html,
body {
  @media screen and (max-width: 480px) {
    padding-right: -200px;
    margin-right: -200px;
  }
  @media screen and (min-width: 480px) {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }
  font-family: -apple-system, Noto Sans Jp, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
